.modal-content {
    -webkit-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    -moz-box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    border-color: rgba(50, 50, 50, 0.1);
}
.modal {
    padding-top: 10rem;
}

.bg-gray {
    background-color: RGBA(108, 117, 125, 0.15);
}

.new-post-editor {
    min-height: 250px;
}

.float-bottom {
    display: flex;
    align-items: flex-end;
}

.scrollable-100 {
    height: 60vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

blockquote, q {
    border: 1px solid RGBA(13, 110, 253, 0.15);
    margin: 1em;
    padding: 1em;
    background-color: #dae6f1
}

body {
    height: 100vh;
    padding: 25px;
    overflow: hidden;
    background-image: linear-gradient(rgb(53, 54, 58), rgb(32, 33, 36));
    background-repeat: no-repeat;
    background-size: contain;
}

.profile-picture {
    width: 150px;
    height: 175px;
    object-fit: fill;
}

.content {
    background-color: white;
    width: 75%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 1) 0px 10px 50px 10px;
    height: calc(100vh - 50px /*body padding*/ );
}

header {
    min-height: 50px;
    border: none;
}

footer {
    min-height: 115px;
    border: none;
    
    
   
}

footer .fa {
    color: white;
    margin: 5px;
    padding: 20px;
    font-size: 25px;
    min-width: 75px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    color: white;
    opacity: 0.6;
}

.fa-facebook {
    background: #3B5998;
}

.fa-twitter {
    background: #55ACEE;
}

.fa-google {
    background: #dd4b39;
}

.fa-instagram {
    background: #125688;
}

.sidenav {
    overflow-x: hidden !important;
    background-color: #808080 !important;
}

.category-view {
    background-color: rgb(53, 54, 58) !important;
    color: white;
}

.category-view a {
    text-decoration: none;
    color: white;
}

.category-view a:link, .category-view a:visited {
    color: white;
}

.category-view a:hover {
    opacity: 0.3;
}

.profile-image-small {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    object-fit: fill;
}

.profile-image-extra-small {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: fill;
}

.speech-bubble-right {
    float: right;
    position: relative;
    background: RGBA(13, 110, 253, 0.15);
    border-radius: .4em;
}

    .speech-bubble-right:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 1.938em solid transparent;
        border-left-color: RGBA(13, 110, 253, 0.15);
        border-right: 0;
        border-top: 0;
        margin-top: -0.969em;
        margin-right: -1.937em;
    }

.chat-bubble {
    min-height: 100px;
    width: 75%;
    margin: 20px;
    margin-bottom: 10px;
    padding: 5px;
}

.speech-bubble-left {
    float: left;
    position: relative;
    background: RGBA(108, 117, 125, 0.15);
    border-radius: .4em;
}

    .speech-bubble-left:after, button-speech-bubble {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 1.938em solid transparent;
        border-right-color: RGBA(108, 117, 125, 0.15);
        border-left: 0;
        border-top: 0;
        margin-top: -0.969em;
        margin-left: -1.937em;
    }

.speech-bubble-left-light {
  
    position: relative;
    background: white;
    border-radius: .4em;
}

    .speech-bubble-left-light:after, button-speech-bubble {
        content: '';
        position: absolute;
        left: 0;
        top: 30%;
        width: 0;
        height: 0;
        border: 1.938em solid transparent;
        border-right-color: white;
        border-left: 0;
        border-top: 0;
        margin-top: -0.969em;
        margin-left: -1.937em;
    }



.button-speech-bubble {
    position: relative;
    background: RGBA(13, 110, 253, 0.15);
    border-radius: .4em;
    min-height: 65px;
}

    .button-speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 1.938em solid transparent;
        border-left-color: RGBA(13, 110, 253, 0.15);
        border-right: 0;
        border-top: 0;
        margin-top: -0.969em;
        margin-right: -1.937em;
    }

