@model Group3.Models.AdminViewModel
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid px-5">

    <!--TAB NAVIGATION-->
    <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="users-tab" data-bs-toggle="tab" data-bs-target="#usersTab" role="tab">Users</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="roles-tab" data-bs-toggle="tab" data-bs-target="#rolesTab" role="tab">Roles</button>
        </li>
    </ul>

    <!--TAB PAGES-->
    <div class="tab-content" id="adminContent">
        <div class="tab-pane active" id="usersTab" role="tabpanel">
            <!--ADMIN SEARCH-->
            <form asp-controller="Admin" asp-action="SearchUsers" method="post" id="searchUserForm" class="d-flex justify-content-center pt-3">
                <div class="input-group w-50">
                    <input type="search" id="searchUserInput" name="search" class="form-control rounded-0" />
                    <input type="submit" id="searchUserButton" value="Search" class="btn btn-primary rounded-0 me-1" />
                </div>
            </form>
            <!--USER LIST-->
            <div id="usersPanel" class="pt-2">
                <partial name="_UsersView" model=Model.Users />
            </div>
        </div>
        <div class="tab-pane" id="rolesTab" role="tabpanel">
            <!--ROLE SEARCH-->
            <form asp-controller="Admin" asp-action="SearchRoles" method="post" id="searchRolesForm" class="d-flex justify-content-center pt-3">
                <div class="input-group w-50">
                    <input type="search" id="searchRoleInput" name="search" class="form-control rounded-0" />
                    <input type="submit" id="searchRoleButton" value="Search" class="btn btn-primary rounded-0 me-1" />
                </div>
            </form>
            <button type="button" class="btn btn-link p-0" data-bs-toggle="modal" data-bs-target="#createRoleModal">Create Role</button>
            <!--ROLE LIST-->
            <div id="rolesPanel" class="pt-2">
                <partial name="_RolesView" model=Model.Roles />
            </div>
        </div>
    </div>
</div>

<!--CREATE MODAL-->
<div class="modal fade" id="createRoleModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Modal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createRoleForm" method="post" asp-controller="Admin" asp-action="CreateRole">
                    <input type="submit" id="submitCreateRoleForm" class="d-none" />                 
                    <label for="roleNameInput">Name</label>
                    <input type="text" name="roleName" id="roleNameInput" class="form-control custom-control-input form-control-sm rounded-0" required>                   
                </form>
            </div>
            <div class="modal-footer">
                <label for="submitCreateRoleForm" class="btn btn-primary">Submit</label>
            </div>
        </div>
    </div>
</div>

<script>

    $('.nav.nav-tabs .nav-link').on('click', function (event) {
        // store last clicked tab
        var clickedTab = event.currentTarget;
        localStorage.setItem("admin_tab", clickedTab.id);
    });

    $(document).ready(function () {
        var clickedTab = localStorage.getItem("admin_tab");
        if (clickedTab != "") {
            $('#' + clickedTab).tab('show');
        }       
    });

    $('#searchUserForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'), type: $(this).attr('method'), data: $(this).serialize(),
            success: function (result) {
                $("#usersPanel").html(result);
            }
        });
    });

    $('#searchRolesForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'), type: $(this).attr('method'), data: $(this).serialize(),
            success: function (result) {
                $("#rolesPanel").html(result);
            }
        });
    });

    $('#createRoleForm').on('submit', function (event) {
        event.preventDefault();
        $.ajax({
            url: $(this).attr('action'), type: $(this).attr('method'), data: $(this).serialize(),
            success: function (result) {
                // page need to be reloaded due to user cookies still beeing present after change
                window.location.reload();
            },
            error: function (result) {
                alert(result.responseText);
            }
        });
    });
</script>