@{ ViewData["Title"] = "Index"; }

<div class="container-fluid p-3" >

    @if (User.Identity.IsAuthenticated)
    {
        <h3>Welcome @User.Identity.Name</h3>

        if (User.IsInRole("Admin")) {
            <p>You are an Admin!</p>
        }
        else if (User.IsInRole("User")) {
            <p>You are an User!</p>
        }
        else { 
            <p>You have no Role yet!</p>
        }
    }
    else /*!IsAuthenticated*/ 
    {
        <h3>Welcome!</h3>
        <p>Please <a href="/Identity/Account/Login">sign in</a> or <a href="/Identity/Account/Register">create an account.</a></p>
    }

</div>